
.p-about {
  background-color: $color-bg-dark;

  &.-logged {
    background-color: $color-bg-light;

    /* Header fits */
    .c-header {
      color: $color-text-2;
      border: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      background-color: transparent;

      a,
      button,
      .c-login-nav .login-container button {
        color: $color-text-2;
      }
    }
  }

  /* Intro */
  .c-intro {
    background-image: url('/static/images/aboutalliance.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* Section */
  .agencies-list {
    position: relative;

    .principal-agency-container {
      display: flex;
      flex-flow: column;
      align-items: center;
      background-color: $color-bg-light;
      padding: 50px 20px 15px;
      margin: 0 10px 20px;

      .principal-agency-title {
        color: $color-text-2;
      }

      .section-description {
        margin-bottom: 100px;
        color: $color-text-2;
        max-width: 50%;
        text-align: center;

        @media #{$mq-small-medium} {
          max-width: 100%;
        }
      }
    }

    .agencies-logo {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;

      img {
        max-width: 130px;
        max-height: 88px;
      }
    }


    .agency-container {
      padding: 0 10px;
      min-height: 360px;
      height: calc(100% - 20px);
      margin-bottom: 20px;

      a {
        color: $color-text-2;
      }
    }
  }
}
