
.p-home {
  background-color: $color-bg-cream;

  /* Header fits */
  .c-header {
    position: absolute;
    color: $color-text-2;
    border: 0;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent;

    a,
    button,
    .c-login-nav .login-container button {
      color: $color-text-2;
    }
  }

  /* Intro */
  .c-intro {
    background-image: url('/static/images/home_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color-bg-light;
    color: $color-text-2;
  }

  .dashboard {
    .image-overlapped {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      margin-top: -128px;
      margin-bottom: 50px;
    }

    .topics-list {
      width: 100%;
      margin-top: 60px;

      .topic {
        padding: 0 10px;
        margin-bottom: 20px;
      }

      .load-more {
        margin-top: 55px;
        padding: 11px 62px;
      }
    }
  }

  .about {
    background-image: url('/static/images/home_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color-bg-dark;
    background-position: center;
    color: $color-text-1;

    .section-description {
      line-height: 27px;
    }

    .link {
      display: inline-block;;
      margin-top: 50px;
      padding: 11px 58px;
    }
  }

}
