@media print {
  @page {
    size: A4 portrait;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    margin: 2cm;
  }

  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}

.p-widget {
  width: 210mm !important;
  margin: 0 auto;
  background-color: white;

  .c-dashboard-item {
    &.-print {
      * {
        color: $color-text-2;
      }

      .type-detail {
        max-height: 600px;
      }

      .item-footer {
        .topic {
          display: flex;
          align-items: center;

          .c-icon {
            margin-right: 8px;
          }
        }
        .info .update {
          color: $color-text-2;
          margin-top: 1px;
        }
      }

      border: 1px solid $color-border-1;

      .c-tooltip-chart {
        background-color: $color-bg-light;
      }
    }
  }
}
