
.c-line-type {
  width: 100%;
  height: 200px;

  /* Axis */
  .recharts-cartesian-axis {
    text tspan {
      font-size: 11px;
      line-height: 13px;
      fill: $color-text-1;
    }

    &.xAxis {
      transform: translateY(10px);
    }

    &.yAxis {
      text tspan {
        fill: rgba($color-text-1, .5);
      }
    }
  }

  .recharts-text.recharts-label {
    fill: $color-text-1;
  }

  .recharts-cartesian-grid-horizontal {
    line {
      stroke: $color-border-1;
      stroke-width: 1px;
    }
  }

  .c-bars-type .recharts-cartesian-axis.yAxis text tspan {

  }

  /* Legend */
  .recharts-legend-wrapper {
    transform: translateY(30px);

    .recharts-default-legend {
      text-align: left !important;
    }
  }
}


.p-widget .c-line-type {
  .recharts-cartesian-axis {
    text tspan {
      fill: $color-text-2;
    }
    &.yAxis {
      text tspan {
        fill: rgba($color-text-2, .5);
      }
    }
  }
  .recharts-text.recharts-label {
    fill: $color-text-2;
  }
}
