
.c-tooltip-chart {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 5px 14px 19px;
  background-color: $color-bg-dark;
  color: $color-text-1;
  border-radius: 2px;
  border: 1px solid $color-light-green;
  box-shadow: 0 0 6px 0 rgba($color-black, .19);

  &.-success { border-color: $color-threshold-success; }
  &.-good { border-color: $color-threshold-good; }
  &.-medium { border-color: $color-threshold-medium; }
  &.-weak { border-color: $color-threshold-weak; }
  &.-fail { border-color: $color-threshold-fail; }
  &.-grey { border-color: $color-dark-grey; }

  .title {
    font-size: $font-size-small;
    line-height: 20px;
    text-align: center;
    font-weight: $font-weight-light;
    margin-bottom: 3px;
  }

  .value-container {
    font-size: $font-size-small;
    line-height: 16px;
    text-align: center;

    .value-title {
      display: inline-block;
      font-size: 10px;
      margin-right: 5px;
    }
  }
}
