
.c-accordion {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;

  .accordion-section {
    &.-dynamic{
      /* Library span without class */
      > span {
        display: flex;
        justify-content: flex-end;
      }
    }

    .sticky-outer-wrapper {
      width: 100%;

      .sticky-inner-wrapper {
        .bar {
          display: flex;

          &.-fixed {
            .accordion-item {
              background-color: $color-bg-dark;
            }

            .c-area-toolbar {
              background-color: rgba($color-secondary, .4);
            }
          }
        }
      }
    }

    .item-enter {
      transform: translate(100%);
    }
    .item-enter.item-enter-active {
      transform: translate(0%);
      transition: transform 500ms ease-in-out;
    }
    .item-leave {
      transform: translate(-100%);
      transition: transform 300ms ease-in-out;
    }
    .item-leave.item-leave-active {
      transform: translate(100%);
      transition: transform 300ms ease-in-out;
    }
  }

  .accordion-item {
    // flex-grow: 1;
    transition: all .3s ease;
    border-right: 1px solid $color-border-1;

    &.-large-1 { width: 100%; }
    &.-large-2 { width: 50%; }
    &.-large-3 { width: 33.3333333%; }

    &.-active {
      width: 100%;
      border-left: .5px solid rgba($color-border-1, .3);

      &.-large-2 { width: calc(100% - 36px); }
      &.-large-3 { width: calc(100% - (36px * 2)); }
    }

    &.-collapsed {
      width: 36px;
      border-left: .5px solid rgba($color-border-1, .3);

      * {
        visibility: hidden;
      }

      & .area-indicators-header {
        padding: 0;
        visibility: visible;

        .location-select-container { display: none; }
      }

      & .btn-toggle,
      & .c-map {
        visibility: visible;

        & * {
          visibility: visible;
        }
      }

      & .btn-toggle {
        border-left: 0 !important;
      }
    }
  }
}
