
.c-accordion {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .accordion-item {
    flex-grow: 1;
    transition: all .3s ease;

    &.-hidden {
      width: 30px;
      flex-grow: 0;
    }
  }
}
