.c-button {
  color: $color-text-1;
  padding: 12px 14px;
  border-radius: 100px;
  background-color: $color-secondary;
  font-size: $font-size-small;
  line-height: 16px;

  // STATES
  &.-disabled {
    pointer-events: none;
    opacity: .4;
  }

  &.-ellipsis { overflow: hidden; text-overflow: ellipsis; }

  // SIZES
  &.-fullwidth { width: 100%; }
  &.-fullheight { height: 100%; }


  // THEMES
  // - inverted
  // - primary
  // - secondary
  // - tertiary
  // - facebook
  // - twitter
  // - linkedin
  &.-dark {
    background-color: $color-bg-dark;
    color: $color-text-1;
    text-transform: capitalize;
    font-size: 17px;
    line-height: 20px;
    padding: 12px 22px;
  }

  &.-light {
    background-color: $color-bg-light;
    color: $color-text-2;
    text-transform: capitalize;
    font-size: 17px;
    line-height: 20px;
    padding: 12px 22px;
  }

  &.-primary {
    border-color: $color-border-1;
    color: $color-text-1;
    background: transparent;

    &:hover {
      color: darken($color-text-1, 10%);
    }
  }

  &.-secondary {
    border-color: $color-border-1;
    color: $color-text-2;
    background: $color-dark-grey;

    &:hover {
      color: darken($color-text-2, 10%);
    }
  }

  &.-facebook {
    display: inline-flex;
    background: #3b5998;
    color: $color-white;
    border-color: #3b5998;

    &:hover {
      background: darken(#3b5998, 10%);
    }
  }

  &.-twitter {
    display: inline-flex;
    background: #55acee;
    color: $color-white;
    border-color: #55acee;

    &:hover {
      background: darken(#55acee, 10%);
    }
  }

  &.-linkedin {
    display: inline-flex;
    align-items: flex-start;
    background: #007bb5;
    color: $color-white;
    border-color: #007bb5;

    &:hover {
      background: darken(#007bb5, 10%);
    }
  }
}
