
.c-card-info {
  padding: 50px 25px 30px;
  border: 1px solid rgba(30, 39, 39, .2);
  height: 100%;
  text-align: left;

  .card-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 36px;

    img {
      max-width: 180px;
      max-height: 75px;
    }
  }

  a {
    color: $color-text-2;

    &:hover { opacity: .5; }
  }

  .card-title {
    margin-bottom: 36px;
    font-size: $font-size-big;
    line-height: 25px;
    font-weight: $font-weight-light;

    &:hover { opacity: .5; }
  }

  .card-description {
    font-size: $font-size-default;
    line-height: 21px;
    font-weight: $font-weight-default;
  }
}
