
.c-collapsible-list {
  display: flex;
  flex-flow: column;

  &.-hidden {
    .btn-collapse {
      padding-bottom: 0;
      transform: rotate(180deg);
      transition: all .3s ease;

      &.-left {
        padding-left: 10px;
        padding-right: 0;
      }
      &.-right {
        padding-right: 10px;
        padding-left: 0;
      }
    }

    .collapsible-list {
      position: relative;
      transform: translateY(-200%);
      transition: all .3s ease;
    }

    .collapsible-list-container {
      max-height: 0;
      transition: all .3s ease;
    }
  }

  .collapsible-title {
    position: relative;
    display: flex;
    align-items: center;
    font-size: $font-size-default;
    line-height: 18px;
    text-transform: capitalize;
    z-index: 1;
    margin-bottom: 16px;
    cursor: default;

    .btn {
      padding: 0;
      padding-bottom: 3px;
    }

    .c-icon {
      fill: $color-text-1;
    }
  }

  .btn-collapse {
    transform: rotate(0);
    transition: all .3s ease;

    &.-left { padding-right: 10px; }
    &.-right { padding-left: 10px; }
  }

  .collapsible-list-container {
    overflow: hidden;
    max-height: 300px;
    transition: all .3s ease;
  }

  .collapsible-list {
    transform: translateY(0);
    transition: all .2s ease;

    .list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: $font-size-small;
      line-height: 16px;
      text-transform: capitalize;
      margin-bottom: 10px;
      padding: 0 1px;
    }

    .child-conatiner {
      width: 0;
    }
  }
}
