
.c-compare-toolbar {
  position: fixed;
  left: 50%;
  bottom: 0;
  padding: 0 20px 20px;
  transform: translateX(-50%);
  z-index: 1002;

  .c-button {
    margin-right: 45px;

    &:last-child {
      margin: 0;
    }
  }
}
