
.c-compare-toolbar {
  position: fixed;
  left: 50%;
  bottom: 0;
  padding: 0 20px 20px;
  transform: translateX(-50%);

  .btn {
    color: $color-text-1;
    padding: 12px 14px;
    border-radius: 100px;
    background-color: $color-secondary;
    font-size: $font-size-small;
    line-height: 16px;
    margin-right: 45px;

    &:last-child {
      margin: 0;
    }
  }
}
