
.c-dashboard-item {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  min-width: 100px;
  min-height: 455px;
  height: 100%;
  border: 1px solid $color-border-1;
  padding: 24px;

  &.-link {
    width: 100%;
    height: 100%;
  }

  &.-list {
    min-height: auto;
    padding: 25px 20px;

    @media #{$mq-medium} {
      min-height: 340px;
      padding: 40px 32px 42px;
    }

    .row { height: 100%; }

    .content-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      &.item-metadata {
        flex-flow: column;
        align-items: flex-start;
        justify-content: space-between;

        .description {
          margin-top: 42px;
        }
      }

      &.type-detail {
        padding-left: 30px;
      }
    }

    .type-detail {
      max-height: 100%;
    }

    .item-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      background-color: $color-bg-light;
      border-radius: 50%;

      .c-icon {
        fill: $color-text-2;
        margin-left: 2px;
      }
    }

    .item-footer {
      margin-top: 22px;
    }
  }

  /* Header */
  .item-header {
    .item-title {
      font-size: $font-size-big;
      line-height: 24px;
      font-weight: $font-weight-default;
      margin-bottom: 5px;
    }
  }

  /* Content */
  .type-detail {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 250px;

    .no-data {
      font-size: $font-size-big;
      line-height: 24px;
      text-transform: uppercase;
    }
  }

  /* Footer */
  .item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;

    .info {
      display: flex;
      align-items: center;

      .topic {
        cursor: pointer;
      }

      .update {
        font-size: $font-size-small;
        line-height: 16px;
        color: $color-text-1;
      }
    }

    .item-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      background-color: $color-bg-light;
      border-radius: 50%;

      .c-icon {
        fill: $color-text-2;
        margin-left: 2px;
      }
    }
  }
}
