
.c-filters-selected-bar {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 30px;
  font-size: $font-size-small;
  line-height: 16px;
  border: 1px solid $color-border-1;
  border-bottom: none;
  border-top: 0;

  @media #{$mq-small-medium} {
    .label {
      font-size: $font-size-small;
      line-height: 16px;
      color: rgba($color-text-1, .5);
      margin-right: 10px;
    }

    .selected-filters-container {
      display: flex;
      align-items: center;

      .selected-filters {
        display: flex;
        align-items: center;
        margin-right: 10px;

        .c-badge {
          margin-left: 5px;
          margin-top: 0;
        }
      }

      .selected-title {
        font-size: $font-size-small;
        line-height: 16px;
        color: $color-text-1;
        padding: 0;
        font-weight: $font-weight-default;
      }
    }
  }


  .bar-label {
    display: inline-block;
    margin-right: 20px;
  }

  .bar-filters {
    display: flex;
    align-items: center;
  }

  .filters-type-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .filter-label {
      display: inline-block;
      margin-right: 6px;
      color: rgba($color-text-1, .5);
    }

    .filter-value-container {
      display: flex;
      align-items: center;
      margin-right: 10px;

      .filter-value {
        display: inline-block;
        margin-right: 4px;
      }

      .btn-remove {
        display: flex;
        align-items: center;
        padding: 0;
        cursor: pointer;

        .c-icon {
          fill: rgba($color-text-1, .5);
        }
      }
    }
  }

  /* Print */
  &.-print {
    padding: 0;
    border: 0;
    margin-bottom: 30px;

    .bar-label {
      line-height: 21px;
    }

    .filter-label {
      color: rgba($color-text-2, .6);
    }

    .filter-value-container {
      padding: 2px 0;
    }
  }
}
