
.c-filters-selected-bar {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 30px;
  font-size: $font-size-small;
  line-height: 16px;
  border: 1px solid $color-border-1;
  border-top: 0;

  > div {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  @media #{$mq-small-medium} {
    padding: 10px 20px;

    .label {
      font-size: $font-size-small;
      line-height: 16px;
      color: rgba($color-text-1, .5);
      margin-right: 10px;
    }

    .selected-filters-container {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding-right: 15px;

      .selected-filters {
        display: flex;
        align-items: center;
        margin-right: 10px;

        .c-badge {
          margin-left: 5px;
          margin-top: 0;
        }
      }

      .selected-title {
        font-size: $font-size-small;
        line-height: 16px;
        color: $color-text-1;
        padding: 0;
        font-weight: $font-weight-default;
      }

      .btn-toggle {
        position: absolute;
        right: -2px;
        top: 2px;

        .c-icon {
          fill: $color-primary;
          stroke: $color-primary;
          stroke-width: 3px;
        }
      }
    }

    .full-selected-list {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      overflow-x: auto;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 10px;
        height: 100%;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
        background: -moz-linear-gradient(to left, rgba($color-bg-dark, .8) 0%, rgba($color-bg-dark, 0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(to left, rgba($color-bg-dark, .8) 0%,rgba($color-bg-dark, 0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to left, rgba($color-bg-dark, .8) 0%,rgba($color-bg-dark, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
      }

      .filters-type-container {
        flex-flow: row nowrap;
        padding: 20px 0 10px;
      }
    }
  }


  .bar-label {
    display: inline-block;
    margin-right: 20px;
  }

  .bar-filters {
    display: flex;
    align-items: center;
  }

  .filters-type-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .filter-label {
      display: inline-block;
      margin-right: 6px;
      color: rgba($color-text-1, .5);
    }

    .filter-value-container {
      display: flex;
      align-items: center;
      margin-right: 10px;

      .filter-value {
        display: inline-block;
        margin-right: 4px;
      }

      .btn-remove {
        display: flex;
        align-items: center;
        padding: 0;
        cursor: pointer;

        .c-icon {
          fill: rgba($color-text-1, .5);
        }
      }
    }
  }

  /* Print */
  &.-print {
    padding: 0;
    border: 0;
    margin-bottom: 30px;

    .bar-label {
      line-height: 21px;
    }

    .filter-label {
      color: rgba($color-text-2, .6);
    }

    .filter-value-container {
      padding: 2px 0;
    }
  }
}
