.c-icon {
  width: 15px;
  height: 15px;
  flex-shrink: 0;

  &.-tiny {
    width: 7px;
    height: 7px;
  }

  &.-smaller {
    width: 10px;
    height: 10px;
  }

  &.-small {
    width: 14px;
    height: 14px;
  }

  &.-medium {
    width: 18px;
    height: 18px;
  }

  &.-big {
    width: 24px;
    height: 24px;
  }

  &.-bigger {
    width: 32px;
    height: 32px;
  }
}
