
.c-section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 60px 30px 75px;
  color: $color-text-2;
  text-align: center;

  .section-title {
    position: relative;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 28px;
    font-weight: $font-weight-light;
    padding-bottom: 24px;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 45px;
      height: 3px;
      background-color: $color-watermelon;
      transform: translateX(-50%);
    }
  }

  .section-subtitle {
    font-size: $font-size-big;
    line-height: 25px;
    margin-bottom: 12px;
    font-weight: $font-weight-light;
  }

  .section-text {
    font-size: $font-size-default;
    line-height: 27px;
  }
}
