.c-select {

}

/* Overried react select */
.is-focused:not(.is-open) > .Select-control {
  border-color: rgba($color-secondary, .3);
  box-shadow: none;
}

.Select {
  &.-filled {
    .Select-control {
      border-bottom: 2px solid rgba($color-black, .2);
    }
  }

  &.Select--multi {
    .Select-value {
      position: relative;
    }
  }

  .Select-control {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: text;

    &:hover {
      box-shadow: none;
    }

    .Select-clear-zone {
      padding-top: 5px;
      padding-bottom: 0;
    }

    .Select-clear {
      color: rgba($color-white, .54);
    }

    .Select-arrow-zone {
      padding: 0;
    }

    .Select-arrow {
      border: 0;
      border-right: 2px solid rgba($color-primary, 1);
      border-bottom: 2px solid rgba($color-primary, 1);
      width: 6px;
      height: 6px;
      transform: rotate(45deg);
      margin-right: -9px;
    }

    .Select-placeholder {
      color: $color-text-1;
      text-transform: uppercase;
      font-family: $font-family-1;
      padding-left: 0;
      padding-top: 4px;
    }
  }

  .Select-multi-value-wrapper {
    .Select-value {
      background-color: transparent;
      border-color: rgba($color-text-1, .3);
      border-radius: 100px;
      padding-left: 5px;
      margin-left: 0;
      margin-right: 3px;
      margin-bottom: 5px;
      padding-top: 4px;
      font-family: $font-family-1;

      &.last-child {
        margin-right: 0;
      }

      .Select-value-label {
        font-family: $font-family-1;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 19px;
        font-weight: 700;
        font-size: $font-size-small;
        margin-right: 20px;
        margin-bottom: -1px;
        color: $color-text-1;
      }

      .Select-value-icon {
        position: absolute;
        right: 3px;
        top: 1px;
        border: 0;
        font-size: 16px;
        line-height: 19px;
        color: $color-text-1;

        &:hover {
          background-color: transparent;
          opacity: .7;
        }
      }
    }
  }

  .Select-menu-outer {
    background-color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 13px;
    color: $color-text-2;

    .Select-option {
      text-transform: capitalize;
      font-family: $font-family-1;
      color: $color-text-2;

      &.is-focused {
        background-color: $color-tertiary;
        color: $color-text-2;
        font-family: $font-family-1;
      }

      &:hover {
        background-color: $color-tertiary;
        color: $color-text-2;
      }
    }
  }
}

.is-open > .Select-control .Select-arrow {
  top: auto;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: $color-text-1;
}
