
.c-login-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0 10px 0;
  margin-top: 6px;

  .nav-list {
    display: flex;
    align-items: center;

    .nav-item {
      text-transform: uppercase;
      padding: 0 20px;

      @media screen and (max-width: 775px) {
        padding: 0 12px;
      }
    }
  }

  .login-container {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-left: 1px solid $color-text-1;

    @media screen and (max-width: 775px) {
      padding-left: 12px;
    }

    .btn {
      padding: 0;
      text-transform: uppercase;
    }
  }
}
