
.c-indicator-info {
  color: $color-text-1;
  padding: 60px 80px;

  @media #{$mq-small-medium} {
    padding: 60px 20px;
  }

  .info-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media #{$mq-small-medium} {
      flex-flow: column;
    }

    > .info {
      order: 2;
    }
  }

  .date {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }

  .title {
    font-size: $font-size-bigger;
    line-height: 29px;
    margin-bottom: 12px;
  }

  .logo-container {
    max-width: 150px;
    margin-left: 10px;

    @media #{$mq-small-medium} {
      order: 1;
      max-width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
    }

    img {
      max-height: 80px;
    }
  }

  .topic-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 36px;

    .c-topic-icon {
      margin-right: 5px;
    }
  }

  /* Content */
  .info-content {
    article {
      margin-bottom: 32px;

      &:last-child { margin-bottom: 0; }

      .article-title {
        font-size: $font-size-big;
        line-height: 24px;
        margin-bottom: 20px;
      }

      .article-text {
        font-size: $font-size-default;
        line-height: 19px;
      }
    }
  }
}
