
.c-legend {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-height: 260px;
  padding-bottom: 15px;
  z-index: 1001;
  background-color: $color-bg-dark;
  border-bottom: 1px solid $color-border-1;

  &.-hidden {
    height: auto;
    padding: 0;

    .legend-content {
      display: none;
      height: 0;
      padding: 0;
      visibility: hidden;
    }

    .btn-close {
      transform: rotate(180deg);
    }
  }

  .legend-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    .title {
      color: rgba($color-text-1, .5);
      font-size: 16px;
      line-height: 16px;
    }

    .tools {
      .c-icon {
        fill: rgba($color-text-1, .5);
      }
    }

    .btn {
      margin-left: 8px;

      .c-icon {
        fill: $color-primary;
        stroke: $color-primary;
        stroke-width: 4px;
      }
    }
  }

  .legend-content {
    position: relative;
    display: flex;
    flex-flow: column;
    height: calc(100% - 45px);
    justify-content: space-between;
    padding: 0 0 10px;
    transition: all .2s ease-out;
    overflow-y: auto;

    .legend-list {
      margin: 0;
    }

    .legend-item {
      padding: 10px 0;
      border-bottom: 1px solid rgba($color-black, .2);

      &:nth-child(odd) {
        padding-right: 25px;
      }

      &:nth-child(even) {
        padding-left: 25px;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }

      &.-choropleth,
      &.-gradient {
        .visual-item {
          display: flex;
          flex-flow: column;
          flex-grow: 1;
        }

        .color {
          display: inline-block;
          height: 5px;
          margin-bottom: 3px;
        }

        .value {
          text-align: center;
        }
      }

      &.-basic {
        .visual-item {
          display: flex;
          align-items: center;
          margin-right: 15px;
          margin-bottom: 5px;
        }

        .color {
          margin-right: 8px;
          width: 10px;
          height: 10px;
        }
      }

      .item-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        .btn-show {
          margin-right: 8px;
          padding: 0;

          .c-icon {
            fill: $color-text-1;
          }
        }
      }

      .item-tools {
        display: flex;
        align-items: center;

        .handler {
          cursor: -webkit-grab;
        }

        .c-icon {
          fill: $color-primary;
        }
      }

      .layer-visual {
        display: flex;
        flex-flow: row wrap;
      }
    }
  }
}

.legend-item {
  padding: 10px 0;
  border-bottom: 1px solid rgba($color-black, .2);

  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }

  &.-sort {
    background-color: $color-bg-dark;
    max-height: 90px;
    overflow: hidden;
    padding: 10px 0;
    z-index: 99999999;
  }

  &.-choropleth,
  &.-gradient {
    .visual-item {
      display: flex;
      flex-flow: column;
      flex-grow: 1;
    }

    .color {
      display: inline-block;
      height: 5px;
      margin-bottom: 3px;
    }

    .value {
      text-align: center;
    }
  }

  &.-basic {
    .visual-item {
      display: flex;
      align-items: center;
      margin-right: 15px;
      margin-bottom: 5px;
    }

    .color {
      margin-right: 8px;
      width: 10px;
      height: 10px;
    }
  }

  .item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    .btn-show {
      margin-right: 8px;

      .c-icon {
        fill: $color-text-1;
      }
    }
  }

  .item-tools {
    .handler {
      cursor: move;
    }
  }

  .layer-visual {
    display: flex;
    flex-flow: row wrap;
  }
}
