
.c-map-controls {
  position: absolute;
  right: 0;
  z-index: 10001;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: $color-bg-dark;
    box-shadow: 0 2px 4px 0 rgba($color-black, .5);

    &:hover {
      opacity: .8;
    }

    .c-icon {
      fill: $color-white;
    }
  }
}
