
.c-checkbox {
  position: relative;
  cursor: pointer;

  &.-checked {
    .fake-checkbox {
      border: 1px solid $color-primary;
      background-color: $color-primary;
    }
  }

  input {
    position: absolute;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
  }

  .fake-checkbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border: 1px solid $color-text-2;
    cursor: pointer;
  }
}
